pkgbase = python313
	pkgdesc = The Python programming language (3.13)
	pkgver = 3.13.8
	pkgrel = 2
	url = https://www.python.org/
	arch = x86_64
	license = PSF-2.0
	makedepends = bluez-libs
	makedepends = cosign
	makedepends = gdb
	makedepends = llvm
	makedepends = llvm-bolt
	makedepends = mpdecimal
	makedepends = sqlite
	makedepends = tk
	depends = bzip2
	depends = expat
	depends = gdbm
	depends = libffi
	depends = libnsl
	depends = libxcrypt
	depends = openssl
	depends = zlib
	depends = tzdata
	depends = mpdecimal
	source = https://www.python.org/ftp/python/3.13.8/Python-3.13.8.tar.xz
	source = https://www.python.org/ftp/python/3.13.8/Python-3.13.8.tar.xz.sigstore
	source = EXTERNALLY-MANAGED
	md5sums = ba3da8187b03db6f42052f8707c22564
	md5sums = 7a0198ae79fa3ab6989bcf435146787a
	md5sums = 7d2680a8ab9c9fa233deb71378d5a654

pkgname = python313
