pkgbase = python
	pkgdesc = The Python programming language (3.13)
	pkgver = 3.13.8
	pkgrel = 1
	url = https://www.python.org/
	arch = x86_64
	license = PSF-2.0
	makedepends = bluez-libs
	makedepends = cosign
	makedepends = gdb
	makedepends = llvm
	makedepends = llvm-bolt
	makedepends = mpdecimal
	makedepends = sqlite
	makedepends = tk
	depends = bzip2
	depends = expat
	depends = gdbm
	depends = libffi
	depends = libnsl
	depends = libxcrypt
	depends = openssl
	depends = zlib
	depends = tzdata
	depends = mpdecimal
	provides = python
	provides = python3
	provides = python-externally-managed
	source = https://www.python.org/ftp/python/3.13.8/Python-3.13.8.tar.xz
	source = https://www.python.org/ftp/python/3.13.8/Python-3.13.8.tar.xz.sigstore
	source = EXTERNALLY-MANAGED
	md5sums = ba3da8187b03db6f42052f8707c22564
	md5sums = 7a0198ae79fa3ab6989bcf435146787a
	md5sums = 7d2680a8ab9c9fa233deb71378d5a654

pkgname = python
	optdepends = python-setuptools: for building Python packages using tooling that is usually bundled with Python
	optdepends = python-pip: for installing Python packages using tooling that is usually bundled with Python
	optdepends = python-pipx: for installing Python software not packaged on Arch Linux
	optdepends = sqlite: for a default database integration
	optdepends = xz: for lzma
	optdepends = tk: for tkinter
	provides = python3
	provides = python-externally-managed
	replaces = python3
	replaces = python-externally-managed

pkgname = python-tests
	pkgdesc = Regression tests packages for Python
	depends = python
